@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: Suisse;
  src: url(/public/assets/fonts/SuisseIntl-Light.otf);
}

*::-webkit-scrollbar {
  display: none !important;
}

.bgStyle {
  background: linear-gradient(
    to bottom,
    rgba(2, 2, 30, 1) 30%,
    rgba(23, 15, 98, 1) 90%,
    rgba(2, 2, 30, 1)
  );
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
    to bottom,
    rgba(2, 2, 30, 1) 30%,
    rgba(23, 15, 98, 1) 90%,
    rgba(2, 2, 30, 1)
  );
  overflow-x: hidden;
}

.font-Suisse {
  font-family: Suisse, sans-serif;
}

.clipPathCustom {
  clip-path: polygon(85% 0, 100% 0, 100% 100%, 0 100%, 0 9%, 79% 9%);
}

.font-bebas {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
}

.font-overpass {
  font-family: "Overpass", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}

@media (max-width: 750px) and (min-width: 350px) {
  .landingPage {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: start !important;
    padding: 0 !important;
  }

  .leftBoxAnim {
    top: 0 !important;
    width: 100% !important;
    min-height: 500px !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    transform: translateY(10%) !important;
  }

  .leftContentText {
    font-size: 5rem !important;
    padding-left: 10px !important;
  }

  .bottomPart {
    flex-direction: column !important;
    padding-top: 8px !important;
    align-items: start !important;
    height: 8rem !important;
  }

  .bottomPart h2 {
    font-size: 3rem !important;
    font-weight: 800 !important;
    padding-left: 5px !important;
  }
  .bottomPart p {
    font-size: 15px !important;
    font-weight: 500 !important;
    letter-spacing: 1px !important;
    width: 200px !important;
    font: 600;
  }

  .btnStyle {
    width: 100% !important;
    padding-right: 5px !important;
    gap: 1rem;
  }
  .imageContainer {
    height: 12rem !important;
    width: 12rem !important;
    right: 1rem !important;
    top: -1rem !important;
    transform: translate(0%) !important;
  }

  .StatusView {
    top: 0 !important;
    width: 400px !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-bottom: 0 !important;
    transform: translateY(10%) !important;
    height: 520px !important;
    max-height: 60% !important;
    width: 100% !important;

    > .InnerSide {
      height: 100% !important;
      width: 100% !important;
      padding: 0 !important;
    }
  }

  .aboutPage .safeAreaView {
    height: auto;
    flex-direction: column !important;
    padding: 0 !important;
    margin-top: 5rem !important;

    .RightArea {
      width: 100% !important;
      height: 50vh !important;
      padding: 0 !important;

      > p {
        font-size: 26px !important;
        font-weight: 700 !important;
        padding: 0 !important;
        margin: 0 !important;
      }
    }
    .aboutBottomPart {
      overflow-x: scroll;
      padding-top: 10px;
    }
  }
}

@media (max-width: 1024px) and (min-width: 750px) {
  .landingPage {
    height: 80vh !important;
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: start !important;
    padding: 2rem !important;
  }

  .leftBoxAnim {
    top: 0% !important;
    min-width: 60% !important;
    max-width: 72% !important;
    min-height: 270px !important;
    transform: translateY(0%) !important;
  }
  .leftContentText {
    font-size: 4rem !important;
    padding-left: 10px !important;
  }

  .StatusView {
    top: 0% !important;
    width: 100dvh !important;
    max-width: 100% !important;
    height: 400px !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-bottom: 0 !important;
    transform: translateY(0%) !important;

    > .InnerSide {
      height: 100% !important;
      width: 100% !important;
      padding: 0 !important;
    }
  }

  .bottomPart p {
    font-size: 10px !important;
    line-height: 1;
    font-weight: 500 !important;
    width: 100px !important;
    font: 600;
  }

  .btnStyle {
    width: 100% !important;
    padding-right: -15px !important;
    gap: 0.5rem;
    text-wrap: nowrap;
  }
}
